In [1]:
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\surya\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\surya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
data=pd.read_csv(r"C:\Users\surya\Desktop\CDAC Noida\Datasets\IMDB Dataset.csv")
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
p = data[data['sentiment']=='positive']
n = data[data['sentiment']=='negative']

In [4]:
print(p.shape,n.shape)

(25000, 2) (25000, 2)

In [5]:
p=p.iloc[:4000]
n=n.iloc[:4000]
print(p.shape,n.shape)

(4000, 2) (4000, 2)

In [6]:
d=[p,n]

In [7]:
data=pd.concat(d)
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive

In [8]:
data.shape

(8000, 2)

In [9]:
import random
data = data.sample(frac = 1)

In [10]:
data.head(15)

                                                 review sentiment
6722  Making the film as dark and visually fuzzy as ...  negative
1657  Soul Calibur has always been my favorite fight...  positive
3494  Feroz Abbas Khan's Gandhi My Father, a film th...  positive
3187  This picture's following will only grow as tim...  positive
3970  I have never commented on a film before. I wat...  positive
4087  Such a delightful movie! Very heart warming. O...  positive
1556  A comedy that worked surprisingly well was the...  positive
6958  Although I bought the DVD when it first came o...  positive
6227  <br /><br />This movie sucked! The first one w...  negative
6883  Well, it wasn't a complete waste. Armand was a...  negative
6222  While I rather enjoyed this movie, I'll tell y...  positive
1533  I would reccomend this film to everyone. Not o...  positive
7977  I found 'Shuttle' an incredibly frustrating fi...  negative
1845  As someone who has read the book, I can say th...  negative
7879  I'm a fan of both actors/singers especially Ga...  positive

In [16]:
def to_words(x,y):
    
    words = []

    for i,j in zip(x,y):
        word = nltk.word_tokenize(i)
        words.append((word, j)) 
    return words

In [38]:
words_rev=to_words(data.review,data.sentiment)
words_rev[5]

(['Such',
  'a',
  'delightful',
  'movie',
  '!',
  'Very',
  'heart',
  'warming',
  '.',
  'One',
  'ca',
  "n't",
  'help',
  'falling',
  'in',
  'love',
  'with',
  'the',
  'character',
  'of',
  'Gigi',
  '.',
  'He',
  "'s",
  'adorable',
  'as',
  'a',
  'child',
  'and',
  'grows',
  'into',
  'a',
  'sensitive',
  'artist',
  '.',
  'The',
  'whole',
  'movie',
  'revolves',
  'around',
  'him',
  '.',
  'He',
  'lives',
  'in',
  'a',
  'wonderful',
  'world',
  '\x96',
  'living',
  'all',
  'life',
  '\x96',
  'curiosity',
  ',',
  'desire',
  'and',
  'anticipation',
  '.',
  'There',
  'is',
  'an',
  'elder',
  'brother',
  'who',
  'tries',
  'to',
  'steal',
  'his',
  'glory',
  'but',
  'really',
  'remains',
  'in',
  'the',
  'shadow',
  'all',
  'his',
  'life',
  '.',
  'The',
  'father',
  'is',
  'very',
  'stereotypically',
  'Italian',
  'and',
  'so',
  'is',
  'the',
  'mother',
  '.',
  'I',
  'wanted',
  'the',
  'father',
  'to',
  'come',
  'and',
  'reunite',
  'with',
  'the',
  'mother',
  'in',
  'the',
  'last',
  'scene',
  '\x96',
  'and',
  'have',
  'them',
  'cry',
  'and',
  'laugh',
  '.',
  'I',
  'also',
  'wish',
  'that',
  'there',
  'was',
  'at',
  'least',
  'something',
  'redeeming',
  'about',
  'the',
  'elder',
  'brother',
  '.',
  'His',
  'personality',
  'seems',
  'to',
  'have',
  'been',
  'trashed',
  'entirely',
  '.',
  'Passion',
  'and',
  'ardour',
  '\x96',
  'that',
  "'s",
  'the',
  'key',
  'to',
  'life',
  '.',
  'And',
  'looking',
  'through',
  'the',
  'camera',
  '\x96',
  'focusing',
  'on',
  'small',
  'details',
  'and',
  'savoring',
  'the',
  'delicate',
  'details',
  'of',
  'life',
  '.'],
 'positive')

In [39]:
len(words_rev)

8000

In [28]:
words = []
for i in data['review']:
        for a in (nltk.word_tokenize(i)):
            words.append(a.lower())

In [29]:
import string
from nltk.corpus import stopwords
english_Stopwords = stopwords.words('english')

In [30]:
imp_words = []
for word in words:
    if word not in english_Stopwords and word not in string.punctuation:
        imp_words.append(word)

imp_words[:15]

['making',
 'film',
 'dark',
 'visually',
 'fuzzy',
 'possible',
 'order',
 'cover',
 'budget',
 'deficiencies',
 'often-used',
 'strategy',
 'low-budget',
 'horror',
 'films']

In [32]:
from nltk import FreqDist
freq = FreqDist(imp_words)

In [33]:
most_common = freq.most_common(4000)
word_features = [i[0] for i in most_common]

In [34]:
def feature(document):
    doc = set(document)
    
    feature = {}
    
    for word in word_features:
        feature['contains(%s)' % word] = (word in doc)
        
    return feature

In [41]:
feature_set = [(feature(doc), category) for (doc, category) in words_rev]

In [42]:
train = feature_set[:4001]
test = feature_set[4001:]

In [43]:
from nltk import NaiveBayesClassifier
classifier = NaiveBayesClassifier.train(train)

In [44]:
from nltk import classify 
accuracy = classify.accuracy(classifier, test)
print (accuracy)

0.8424606151537885